body {}

* {
    margin: 0;
}

nav {
    background-color: #562EFF;
    padding: 5px;
}

.container {
    width: 810px;
    margin: 0 auto;
}

.head-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-photo {
    display: flex;
    align-items: center;
}

.head-photo img {
    width: 40.424px;
    height: 40.424px;
}

.logo-name {
    font-size: 18px;
    font-weight: 700;
    margin-left: 5px;
    color: white;
}

.head-manu {
    display: flex;
    align-items: center;
}

.head-manu a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
    color: white;
}

.menu-photo img {
    width: 30px;
    align-items: center;
}

@media only screen and (max-width:688px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    .head-manu {
        flex-direction: row-reverse;
    }

    .menu-photo {
        flex-direction: row;
    }
}