body {
    background-color: #FFE4E8;
}

* {
    margin: 0;
}

main {
    background-color: #fff;
    width: 810px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

nav {
    background-color: #562EFF;
    padding: 5px;
}

.container {
    width: 810px;
    margin: 0 auto;
}

.head-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-photo {
    display: flex;
    align-items: center;
}

.head-photo img {
    width: 40.424px;
    height: 40.424px;
}

.logo-name {
    font-size: 18px;
    font-weight: 700;
    margin-left: 5px;
    color: white;
}

.head-manu {
    display: flex;
    align-items: center;
}

.head-manu a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
    color: white;
}

.menu-photo img {
    width: 30px;
    align-items: center;
}

@media only screen and (max-width:688px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }

    .head-manu {
        flex-direction: row-reverse;
    }

    .menu-photo {
        flex-direction: row;
    }
}

/* player section start 
====================== */
.title-name {
    margin-left: 10px;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #562EFF;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    margin-left: 15px;
}

.player {
    margin-left: 10px;
}

.thumbnail {
    display: flex;
    align-items: center;
}

.thumbnail img {
    width: 56px;
    height: 56px;
}

.player-name {
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
    align-items: center;
}

hr {
    margin-top: 10px;
}

/* media query 
=============== */
@media only screen and (max-width:688px) {
    .players {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .player img {
        width: 100px;
        height: 100px;
    }
}

/* blog start 
============= */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    margin-left: 20px;
}

.blog {
    display: flex;
}

.blog img {
    width: 224px;
    height: 117px;
}

.blog-details {
    margin-left: 10px;
    margin-top: 5px;
    line-height: 25px;
}

.blog-title {
    font-size: 20px;
    font-weight: 700;
}

.blog-author {
    font-size: 16px;
    color: #562EFF;
}

.author-by {
    font-size: 16px;
    color: #9F9F9F;
}

#banner-id {
    margin-left: 10px;
}

/* media querry 
==================== */
@media only screen and (max-width:688px) {
    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* course section start 
======================= */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
}

.course {
    margin-left: 20px;
    box-shadow: 1px 1px 8px -6px;
    border-radius: 10px;
    padding: 10px;
}

.course img {
    width: 224px;
    height: 120px;
}

.course-name {
    font-size: 20.034px;
    font-weight: 700;
    line-height: 25px;
    margin-top: 10px;
}

.course-author {
    font-size: 13px;
    font-weight: 400;
    color: #ED6B4F;
    line-height: normal;
    margin-top: 6px;
    margin-bottom: 6px;
}

.course-duration {
    display: flex;
    justify-content: space-between;
}

.fa-star {
    color: #FFC014;
    font-size: 12px;
}

.filled-empty {
    color: #9F9F9F;
}

.rating {
    margin-left: 10px;
    align-items: center;
}

.course-time {
    margin-right: 20px;
    background-color: #fee0d9;
    border-radius: 10px;
    padding: 3px 7px;
    margin-bottom: 20px;
    margin-left: 1px;
}

.fa-clock {
    color: #ED6B4F;
    font-weight: 500;
}

.time {
    color: #ED6B4F;
    font-size: 16px;
    font-weight: 700;
}